/* Add CSS Styling */
.do-click{
    background-color: black;
    color: white;

}

.not-click{
    background-color: yellow;
}

.not-click.do-click{
    font-size: 28px;
    font-family: Helvetica,Times New Roman, sans-serif;
}